*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #000000;
    font-family: 'Raleway', sans-serif;
}

#hero-img{
    width: 100%;
    height: 500px;
}

#iguana-uno{
    display: inline-block;
    width: 490px;
    height: 250px;
    margin: 75px 0 0 100px;
}

h1{
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
}

#parrafo-centrado{
    text-align: center;
}

#parrafo-texto{
    color: #ffffff;
    display: inline-block;
    margin: 76px 0px 76px 0px;
    text-align: left;
    width: 500px;
    font-weight: lighter;
}

#caracteristicas{
    background-color: #1e1a13;
    color: #ffffff;
    text-align: center;
    padding-top: 75px;
}


